
  <div class="card">
    <div class="grid container">
      <div class="fadeinleft animation-duration-1000 animation-iteration-1 animation-ease-in col-12 lg:col-6 md:col-6 sm:col-12">
        <img style="transform: scale(1.8);" src="../../assets/404.svg" alt="erreur 404">
      </div>
      <div class="col-12 lg:col-6 md:col-6 sm:col-12">
        <div class="grid">
          <div class="col-12 fadeinup animation-duration-1000 animation-iteration-1 animation-ease-in">
            <p class="text-7xl text-center text-blue-900">OUPS ! Page introuvable</p>
          </div>
          <div class="col-4 col-offset-4 lg:col-4 lg:col-offset-5 md:col-4 sm:col-4 md:col-offset-5 fadeindown animation-duration-1000 animation-iteration-1">
            <button pButton pRipple type="button" [routerLink]="['/planificateur']" label="Go Back to Home" class="p-button-rounded p-button-info"></button>
          </div>
        </div>
      </div>
    </div>
  </div>

