<main style="margin-top: 1rem;">
    <div class="card">
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="addVehicle()"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedVehicle()" [disabled]="!selectedVehicles || !selectedVehicles.length"></button>
        </ng-template>

        <ng-template pTemplate="right">
            <!-- <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button> -->
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="vehicles" [rows]="10" [paginator]="true" [globalFilterFields]="['matriculevehicule','brand','capacity','status']" [(selection)]="selectedVehicles" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h2 class="p-m-0">Manage Vehicle</h2>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" #search value="" (input)="dt.filterGlobal(search.value, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="matriculenumber">Matricule<p-sortIcon field="matriculenumber"></p-sortIcon></th>
                <th>Image</th>
                <th pSortableColumn="brand">Marque<p-sortIcon field="brand"></p-sortIcon></th>
                <th pSortableColumn="capacity">Capacité<p-sortIcon field="capacity"></p-sortIcon></th>
                <th pSortableColumn="status">Status<p-sortIcon field="status"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-vehicle>
            <tr>
                <td>
                    <p-tableCheckbox [value]="vehicle"></p-tableCheckbox>
                </td>
                <td>{{vehicle.matriculenumber}}</td>
                <td><img [src]="vehicle.imageurl" [alt]="vehicle.matriculenumber" width="100" class="shadow-4" /></td>
                <td>{{ vehicle.brand }}</td>
                <td>{{ vehicle.capacity}}</td>
                <td><span [class]="'vehicle-badge status-' + (vehicle.status ? vehicle.status.toLowerCase() : '')">{{vehicle.status}}</span></td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" (click)="editVehicle(vehicle)" class="p-button-rounded p-button-success mr-2"></button>
                    <button pButton pRipple icon="pi pi-trash" (click)="deleteVehicle(vehicle)" class="p-button-rounded p-button-warning"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{vehicles ? vehicles.length : 0 }}  vehicles.
            </div>
        </ng-template>
      </p-table>
    </div>
</main>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>


