<p-toast></p-toast>
<main style="margin-top: 1rem;">
  <div class="grid">

    <div class="col-12 lg:col-8 md:col-9 sm:col-12 fadein animation-duration-2000 animation-iteration-1 animation-ease-in">
        <p-gmap (onMapReady)="getMap($event)" [style]="{height: '100vh'}" [options]="options" [overlays]="overlays"></p-gmap>
    </div>


    <div class="col-12 lg:col-4 md:col-3 sm:col-12 flex-column">

      <div *ngIf="!isLoading" class="mb-2 p-col-12">
        <p-carousel [value]="vehicles" [numVisible]="1" [numScroll]="1" [circular]="true">
          <ng-template pTemplate="header">
              <div class="flex justify-content-center text-indigo-600">
                <h2>VEHICLES</h2>
              </div>
          </ng-template>
          <ng-template let-vehicle pTemplate="item">
              <div class="vehicle-item">
                  <div class="vehicle-item-content">
                      <div class="mb-3">
                          <img [src]="vehicle.imageurl" [alt]="vehicle.brand" class="vehicle-image" />
                      </div>
                      <div>
                          <h4 class="mb-1">{{vehicle.brand}}</h4>
                          <h6 class="mt-0 mb-3">${{vehicle.matriculenumber}}</h6>
                          <span>Capacity: {{ vehicle.capacity }}</span>
                          <div class="car-buttons mt-5 mb-5">
                            <p-chips
                              [(ngModel)]="ordersToVehicle[vehicle.id]"
                              (onAdd)="addOrdersToVehicle($event, vehicle.id)"
                              (onRemove)="removeOrdersToVehicle($event, vehicle.id)"
                              type="number"
                              [allowDuplicate]="false"
                              [disabled]="true"
                              [max]="10"
                            ></p-chips>
                        </div>
                          <div class="car-buttons mt-5">
                              <p-button type="button" *ngIf="isOptimized" (click)="openModalRoute(vehicle)" styleClass="p-button p-button-rounded mr-2" icon="pi pi-eye"></p-button>
                              <p-button type="button" *ngIf="isOptimized" (click)="traceRouteForVehicle(vehicle)" styleClass="p-button-info p-button-rounded mr-2" icon="pi pi-chart-line"></p-button>
                          </div>
                      </div>
                  </div>
              </div>
          </ng-template>
        </p-carousel>
      </div>


      <div *ngIf="isLoading">
          <div class="mb-2 p-col-12">
            <p-skeleton width="fill-content" height="10vh" borderRadius="10px" styleClass="p-mb-2"></p-skeleton>
          </div>
          <div class="mb-2 p-col-12">
            <div class="grid">
              <div class="col-2"><p-skeleton width="fill-content" height="62vh" borderRadius="10px" styleClass="p-mb-2"></p-skeleton></div>
              <div class="col-8"><p-skeleton width="fill-content" height="62vh" borderRadius="10px" styleClass="p-mb-2"></p-skeleton></div>
              <div class="col-2"><p-skeleton width="fill-content" height="62vh" borderRadius="10px" styleClass="p-mb-2"></p-skeleton></div>
            </div>
          </div>
      </div>


      <div class="col-12">
          <div class="flex flex-column">

            <div *ngIf="orders.length > 0" class="flex align-items-center justify-content-center mb-3">
              <p-button label="Clustering" styleClass="p-button p-button-success" (click)="clustering()"></p-button>
            </div>

            <div *ngIf="isClustering && (allCapacities >= allQuantities) && (allCapacities!==0 && allQuantities!==0)" class="flex align-items-center justify-content-center mb-3">
              <p-button class="mr-3" label="TABU" (click)="startRouting()" *ngIf="(allQuantities <= allCapacities) && !isOptimizing" icon="pi pi-check" styleClass="p-button p-button-primary"></p-button>
              <p-button label="TABU 2" (click)="startRoutingCrossMove()" *ngIf="(allQuantities <= allCapacities) && !isOptimizing" icon="pi pi-check" styleClass="p-button p-button-primary"></p-button>
            </div>

            <div *ngIf="(allCapacities >= allQuantities) && (allCapacities!==0 && allQuantities!==0)" class="flex align-items-center justify-content-center mb-3">
              <p-button label="GREEDY" (click)="startRoutingGreedy()" *ngIf="(allQuantities <= allCapacities) && !isOptimizing" icon="pi pi-check" styleClass="p-button p-button-primary"></p-button>
            </div>

            <div *ngIf="isOptimizing" class="flex align-items-center justify-content-center">
              <p-progressSpinner></p-progressSpinner>
            </div>

            <div class="flex align-items-center justify-content-center mb-3 mt-8">
              <p-button label="RESET" (click)="reset()"  icon="pi pi-power-off" styleClass="p-button p-button-danger"></p-button>
            </div>

          </div>
      </div>

    </div>
  </div>


</main>
