<main>
  <div class="grid">

    <div class="col-12 lg:col-8 md:col-8 sm:col-12">
      <p-gmap (onMapReady)="getMap($event)" [style]="{height: '550px', marginBottom: '2rem'}" [draggable]="true" [options]="options" [overlays]="overlays"></p-gmap>
    </div>

    <div class="col-12 lg:col-4 md:col-4 sm:col-12">
        <p-card styleClass="mb-3">
          {{distanceRoute}} km
        </p-card>
        <p-card *ngIf="isLoaded">
          <h5>Opposite Content</h5>
          <p-timeline [value]="value">
              <ng-template pTemplate="content" let-event>
                  <small class="p-text-secondary">{{ 'From ' + event.label.from + ' to ' + event.label.to}}</small>
              </ng-template>
              <ng-template pTemplate="opposite" let-event>
                  <div>
                      <div>
                        {{event.timewindow.timestart | date: 'shortTime'}}-{{event.timewindow.timeend  | date: 'shortTime'}}
                      </div>
                      <div style="color: green;">
                        {{ event.timestartService | date: 'shortTime' }}
                      </div>
                  </div>
              </ng-template>
          </p-timeline>
        </p-card>
        <p-skeleton *ngIf="!isLoaded" width="fill-content" height="550px"></p-skeleton>
    </div>

  </div>
</main>
